In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import math
from random import randint

In [2]:
# filename=r'/Users/Amelia/Desktop/DAL.csv'

In [3]:
# def makeDataFrame(filename):
#     data=pd.read_csv(filename)
#     df=pd.DataFrame(data,columns=['Adj Close'])
#     print(df)
#     s=df.values.tolist()
#     return s

makeDataFrame(filename)

In [4]:
# parameters
S0=30
r=0.06
t=8
u=1+r+math.sqrt((1+r)**2-1) 
drift=0
vol=10 # for additive amount, how much to add
d=(1+r)/u
face=50
coupon_rate = 0.04
coupon = coupon_rate*face
default_threshold = 1/3
bankrupcy_ratio = 2.4
K=55 # call value

In [5]:
def g(x): # payoff function e.g for a call it would be max(0, x-K)
    if x==0:
        return [0, 0]
    if x <= default_threshold*S0:
        return [x*bankrupcy_ratio, 0]
    return [face, coupon] # first entry is the actual value, second is dividends or coupons

K2 has to be greater than K1

In [6]:
p=0.5#(1+r-d)/(u-d)
q=1-p
p=1-q # fixes floating-point errors hopefully
print(p, q) # only use these in the multiplicative model

0.5 0.5

In [7]:
def nSigFigs(num, n):
    #print(num == np.nan)
    if type(num) not in [float, int, np.float64] or num == float("NaN"): return float("NaN")
    return int(num * 10**n) / 10**n

In [8]:
def displayChart(tab):
    Chart=[]
    columns = []
    N = len(tab)-1
    for i in range(N, -1, -1):
        chart = []
        columns.append(N-i)
        for j in range(0,i):
            chart.append("")
        for j in range(i, N+1):
            entry = tab[j][i]
            chart.append(entry)
        Chart.append(chart)
    df = pd.DataFrame(Chart, columns = columns)
    return df.style.hide_index()

In [9]:
def r_values(drift, vol):
    R = {}
    for i in range(t, -1, -1):
        R[i] = r + i*drift - vol*np.arange(i, -1, -1) + vol*np.arange(0, i+1, 1)
    return R

rates = r_values(0, 0.005)
print("interest rates")
displayChart(rates)

interest rates

In [10]:
# to have the random interest rates
interests = rates
# for key in range(0, t+1, 1):
#     interests[key] = [0]*(key+1)
#     for j in range(0, key+1, 1):
#         index = randint(0, key)
#         interests[key][j] = rates[key][index]

# displayChart(interests)

In [11]:
def StockPrice(mode='a'): # a for additive, m for multiplicative
    StockPrice={}
    if mode == 'm':
        for i in range(t, -1, -1):
            StockPrice[i] = S0 * d ** (np.arange(i,-1,-1)) * u ** (np.arange(0,i+1,1)) #np.empty(N+1)

    elif mode == 'a':
        for i in range(t, -1, -1):
            StockPrice[i] = np.maximum(np.zeros(i+1), S0 + i*drift - vol*np.arange(i, -1, -1) + vol*np.arange(0,i+1,1))
    '''for n in range(0, N+1):
        StockPrice[N].append(S0*(u**n)*(d**(N-n)))
    for i in range(N-1, -1, -1):
        StockPrice[i]=[] #np.empty(i+1)
        for j in range(0, i+1):
            StockPrice[i].append((StockPrice[i+1][j+1])/u)'''
    return StockPrice

SP = StockPrice()
print("stock price")
displayChart(SP)

# for i in range(t, -1, -1):
#     print(str(i) + ": "+str([nSigFigs(x, n=4) for x in SP[i]]))

stock price

In [12]:
def p_values(stock_price_chart, interests):
    P = {i: [1]*(i+1) for i in range(t+1)}
    for i in range(0, t):
        for j in range(i+1):
            if stock_price_chart[i][j] == 0:
                P[i][j] = -1
            else:
                d = stock_price_chart[i+1][j] / stock_price_chart[i][j]
                u = stock_price_chart[i+1][j+1] / stock_price_chart[i][j]
                P[i][j] = (1 + interests[i][j] - d) / (u-d)
                # print(d)
                # print(u)
                # print(u-d)
                # print(1+rates[i][j])
                # print(1 + rates[i][j] - d)
    return P

p_vals = p_values(SP, interests)
print("p tilde")
displayChart(p_vals)

p tilde

In [13]:
# additive model
def exp(x,y,p=p,r=r):
    if p != -1:
        return (x*p+y*(1-p))/(1+r)
    return 0

# multiplicative model
def rnExp(x,y):
    return exp(x,y,p,r)

In [14]:
bond_payoff = list(map(g, SP[t]))
def vanillaBond(payoff): # coupon amount
    vanillaBond={}
    vanillaBond[t]=bond_payoff
    #IP=IntrinsicPut()
    #for n in range(0, N+1):
    #    PutPriceA[N].append(IP[N][n])
    for i in range(t-1, -1, -1):
        vanillaBond[i]=[]
        for j in range(i+1):
            entry = [0,0]
            if SP[i][j] != 0: 
                entry[0] = exp(vanillaBond[i+1][j+1][0], vanillaBond[i+1][j][0], p_vals[i][j], interests[i][j]) + exp(vanillaBond[i+1][j+1][1], vanillaBond[i+1][j][1], p_vals[i][j], interests[i][j])
                entry[0] = entry[0]
                entry[1] = coupon if ((SP[i][j] >= default_threshold or i<t) and i>0) else 0
            #print(entry)
            vanillaBond[i].append(entry)
    return vanillaBond

vBond = vanillaBond(bond_payoff)
print("Vanilla Bond payoff: [face value (after coupon), coupon]")
displayChart(vBond)

Vanilla Bond payoff: [face value (after coupon), coupon]

In [15]:
def convBond(payoff):
    convBond = {}
    convBond[t] = [[max(SP[t][i], payoff[i][0]), payoff[i][1]] for i in range(t+1)]
    for i in range(t-1, -1, -1):
        convBond[i]=[]
        for j in range(i+1):
            entry = [0,0]
            if SP[i][j] != 0: 
                entry[0] = exp(convBond[i+1][j+1][0], convBond[i+1][j][0], p_vals[i][j], interests[i][j]) \
                         + exp(convBond[i+1][j+1][1], convBond[i+1][j][1], p_vals[i][j], interests[i][j])
                entry[0] = max(entry[0], SP[i][j])
                entry[1] = coupon if ((SP[i][j] >= default_threshold or i<t) and i>0) else 0
            #print(entry)
            convBond[i].append(entry)
    return convBond

cBond = convBond(bond_payoff)
print("Convertible Bond payoff: [face value (after coupon), coupon]")
print("Convertible but not callable")
displayChart(cBond)

Convertible Bond payoff: [face value (after coupon), coupon]
Convertible but not callable

experiment code below

In [16]:
# x is how much to change for additive model
def simulate_one(x):
    global vol
    v = x
    
    rates = r_values(0, 0.005)
    SP = StockPrice()
    
simulate_one(1)

In [17]:
from scipy.stats import bernoulli

# rolls = {}

# for key in range(0, t+1, 1):
#         rolls[key] = [0]*(key+1)
#         for j in range(0, key+1, 1):
#             prob = max(0, min(1, p_vals[key][j]))
#             roll = bernoulli.rvs(size=1, p=prob)
#             rolls[key][j] = roll[0]


# if roll==1, then it is a head

interests = rates
for key in range(1, t+1, 1):
      for j in range(0, key+1, 1):
            prob = max(0, min(1, p_vals[key][j]))
            [roll] = bernoulli.rvs(size=1, p=prob)
            if(roll==1):
                  interests[key][j] = interests[key-1][j]+0.005
            else:
                  interests[key][j] = interests[key-1][j]-0.005

IndexError: index 1 is out of bounds for axis 0 with size 1